.btn-primary.override-bs-tweet {
    border-radius: 20px;
}

.btn-primary.override-bs-follow {
    border-radius: 20px;
    background-color: white;
    color: black;
    border-color: white;
}

.dark-mode {
    background-color: black;
}

* {
    color: white;
}

.search-text-field {
    background-color: dimgrey;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.text-input-field {
    width: 90%;
    border-style: hidden;
    outline: none;
    background-color: dimgray;
    color:darkgray;
}

.bold-text {
    font-weight: bolder;
}

.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.user-name {
    font-weight: bolder;
    font-size: 16px;
}

.user-handle {
    font-size: 14px;
}

.card-caption {
    position: relative;
}

.card-image-text {
    text-align: left;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    width: 100%;
    margin-left: 5px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.card-profile-icon {
    border-radius: 10%;
}